PORT=3333

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=sctec_mauricio_medclinic_api
DB_SSL=false

JWT_SECRET=7eb7a308230719cedc32830c95be19f12da78529b58242da4e73082aa6d8e694
JWT_EXPIRES_IN=1d
